body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #fffaf7;
  line-height: 1.3;
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}

input {
  background-color: #e0e0e0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  text-align: center;
  width: 15ch;
}

button {
  background:none!important;
  border:none; 
  padding:0!important;
  font: inherit;
  color: #4b0082;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

div {
  text-align: center;
}

.wordWrap { 
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: monospace;
}

.bracket {
  width: 2ch;
}

.invalid {
  border: 1px solid red;
}

.rules {
  text-align: left;
}

.note {
  color: #404040;
  font-size: 80%;
  font-style: italic;
}

.center {
  text-align: center;
}

header {
  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: .5rem;
}

hr {
  border: 2px solid #ddd;
  margin: 2rem auto;
}

footer {
  margin-top: 2rem;
  text-align: center;
}

a {
  color: #4b0082;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: #fff888;
}

